<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Query Page</title>
</head>
<body>
    <h2>Showing results for : your query</h2>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat ducimus inventore ex. Eum laborum unde facere dignissimos eveniet nisi. Ad labore nihil obcaecati fugiat repudiandae amet ducimus consequuntur voluptatum perferendis?</p>
    <ul>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum delectus labore eius minima ipsa minus ut veniam quasi? Architecto dolorum delectus possimus fugiat</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum delectus labore eius minima ipsa minus ut veniam quasi? Architecto dolorum delectus possimus fugiat</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum delectus labore eius minima ipsa minus ut veniam quasi? Architecto dolorum delectus possimus fugiat</li>
        <li>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nostrum delectus labore eius minima ipsa minus ut veniam quasi? Architecto dolorum delectus possimus fugiat</li>
    </ul>
    
</body>
</html>